b{
    font-weight: 700;
}

.error{
    color: rgb(245, 76, 76);
    background-color: rgb(243, 232, 128);
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
}

.invalid-feedback{
    font-size: 85%;
    color: #fb8c00;
    font-weight: 700;
}
.form-control.is-invalid{
    border-color: #fb8c00;
}
.successMessage{
    color:white;
    background-color: #22b9b9;
    padding: 10px;
    border-radius: 5px;
}

.logo{
    padding-bottom: 16px;
}

.hide-data{
    display: none;
}
.main-layout.auth{
    background-image: linear-gradient(
            to right,
            #200769,
            #456cc2b6
            /* rgb(0 255 228 / 45%) */
        );
}
.login-page .beforeCard{
    height:90vh;
}
.login-page .login-card{
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
            to right,
            #d9d7ddb0,
            #f7f7f7
            
        );
}
.profile-page{
    margin-top:100px;
}
.profile-page .card{
    border: none;
}
.profile-page .form-control{
    background-color: transparent;
    color:yellow;
}
.profile-page .form-control:focus{
    background-color: transparent;
    color:yellow;
}
.profile-page hr{
    color: #1976d2;
    border: solid;
}
.profile-page .input-group-text{
    color:yellow;
    background-color: transparent;
}
.profile-page .profile-card ul li{
    padding: 10px;
    background-color: antiquewhite;
    margin: 10px;
    margin-inline-start: -20px;
    border-radius: 3px;
    cursor: pointer;
}
.profile-page .password-info-card{
    margin-top: -210px;
}

.account-page.profile-page select.form-control option{
    background-color: #22b9b9;
}
.net-banking-page.profile-page select.form-control option{
    background-color: #22b9b9;
}

.account-page .accountDetails{
    margin-top: 50px;
}

.account-page .beneficiaries-info-card{
    margin-top: -210px;
}

.net-banking-page hr, .net-banking-page .separator{
    margin-inline-end: 42%
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 5px solid #1976d2;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }






